html {
    scroll-behavior: smooth;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    padding: 1px;
    margin: 1px;
    text-align: center;
    margin-top: 3rem;
}

#logo {
    width: 10vh;
    height: 10vh;
}

a {
    color: #f8f8f8;
    font-size:large;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color:black;
    color:#a1a6b4;
    position:sticky;
    top: 0px;
    z-index: 20;
}

.menubtn:hover {
    color: #B4D2E7;
}

.button:hover {
    text-decoration: underline solid darkred;
    color: darkred;
    background-color: white;
}

.products {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: white;
    text-align: center;
    row-gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.items {
    display: flex;
    flex: 1 1 30%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(206, 204, 204);;
}

.pics {
    width: 15vw;
    height: 40vh;
    padding: 1rem;
}

.p_name {
    font-size:larger ;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

p {
    margin: 2px;
    padding: 2px;
}

.button {
    width: 15vw;
    height: 7vh;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 14px;
    color: #B4D2E7;
    font-weight: bold;
}

.button:hover {
    background-color:#B4D2E7;
    color:black;
    text-decoration: underline solid black;
    font-weight: bold;
}

footer {
    background-image: url(homeback.jpg);
    color: black;
    padding: 1rem;
}

.icons{
    display: flex;
    width: 1rem;
    height: 1rem;
}

.ContactUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.end {
    text-align: center;
}
