html {
    scroll-behavior: smooth;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    padding: 1px;
    margin: 1px;
}

#logo {
    width: 10vh;
    height: 10vh;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 10vh;
    background-color:black;
    color:#a1a6b4;
    position:sticky;
    top: 0px;
}

a {
    color: #f8f8f8;
    font-size:large;
}


.homecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    height: 90vh;
    background-image: url(homeback.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    flex-wrap: wrap;   
}

.italics {
    text-decoration: underline black solid;
}

.button {
    width: 160px;
    height: 35px;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 14px;
    color: #B4D2E7;
    font-weight: bold;
}

.menubtn:hover {
    color: #B4D2E7;
}

.homebutton {
    display: flex;
}

.button:hover {
    background-color:#B4D2E7;
    color:black;
    text-decoration: underline solid black;
    font-weight: bold;
}

.AboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    height: 20rem;
    color: #120e0e;
    background-color:white;
}

.quizintro {
    padding-left:2.5%;
    padding-right:2.5%;
    width: 95%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: black;
   
}

.woody {
    display: flex;
    max-width: 200px;
    min-width: 100px;
}

.fresh {
    display: flex;
    max-width: 200px;
    min-width: 100px;
}

.warm {
    display: flex;
    max-width: 200px;
    min-width: 100px;
}

.floral{
    display: flex;
    max-width: 200px;
    min-width: 100px;
}

.quizimg1 {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.under{
    text-decoration: underline solid black;
}

.results {
    display: none;
}

.questions {
    display: none;
    height: 35vh;
}

.questions:target {
    display: block;
}

.desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
}

.results:target {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2%;
}

footer {
    background-image: url(homeback.jpg);
    color: black;
    padding: 1rem;
}

.icons{
    display: flex;
    width: 1rem;
    height: 1rem;
}

p {
    margin: 2px;
    padding: 2px;
}

.ContactUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.end {
    text-align: center;
}